@model Talenter.Models.EMPRESA
@{
    ViewBag.Title = "SearchJob";
}
<link href="~/Content/SearchJobStyle.css" rel="stylesheet" />


<h2>Hay Talento!</h2>

<div class="container">
    <div class="jobs col-lg-12">
        <div class="no-aplicar col-lg-1">
            <button class="btn btn-danger"><span><img src="~/Content/images/cancel-job-talenter.png" alt="Alternate Text" /></span></button>
        </div>
        <div class="empresa-dato col-lg-8">
            <div class="roundBox-job">
                <div class="title-job">
                    <label>Empresa: </label>
                    @Html.DisplayFor(x => x.NOMBRE)

                </div>
                <div class="about-job">
                    <label>Descripcion: </label>
                    @Html.DisplayFor(x => x.ABOUT)
                </div>
            </div>
        </div>
        <div class="aplicar col-lg-2">
            <button class="btn btn-success"><span><img src="~/Content/images/apply-job-talenter.png" alt="Alternate Text" /></span></button>
        </div>
    </div>
</div>
    
