@{
    ViewBag.Title = "Talenter - Index";
}

<div class="container">
    <div class="row">
        <div class="talenter-welcome ">
            <div align="center" class="roundBox">
                <h1 class="tit">BUSCAMOS TALENTOS, SOMOS TALENTOS.</h1>
                <p class="col-sm-8 text-center queonda">
                    En Talenter, nuestro principal objetivo es potenciar las oportunidades en el mercado laboral de nuestra región.

                    Confiamos en que hay un puesto ideal para cada talento que se acerque a nuestra plataforma.

                    Nuestra aplicación llegó para unirlos.
                </p>
               
                <p class="col-sm-8 text-center">

                    Talenter es una servicio que permite a las Empresas publicar sus búsquedas para que los usuarios puedan aplicar rápidamente y sin intermediarios. Esperamos que a través de esta plataforma se genere la comunidad laboral 2.0 y así lograr la meta de convertirnos en la Bolsa de trabajo digital líder en la región.
                </p>
            </div>
        </div>


        <div class="talenter-empresa">
            <div align="center" class="roundBox">
                <h3 class="tit">SOS EMPRESA?</h3>
                <p class="col-sm-6">

                    Los empleados representan el factor crucial para el éxito de una empresa. Talenter les da la oportunidad de publicar todas sus búsquedas en una sola plataforma, ver los perfiles cuyas caracteristicas se adecúen a los roles requeridos y contactarlos para que sean parte de su organización.
                </p>
            </div>
        </div>


        <div class="talenter-talent">
            <div align="center" class="roundBox">

                <h3 class="tit">SOS TALENTO?</h3>
                <p class="col-sm-6">
                    Estas buscando el trabajo de tus sueños?

                    ¿Sentís que podós dar más y querés nuevos desafíos?

                    ¿Querés profundizar tus conocimientos a traves de nuevas experiencias?

                    Sumate a nuestra propuesta y aporta tu cuota de genialidad!




                </p>
            </div>
        </div>

    </div>

</div>